<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <ul>
                버전 :
                <li>{{data.version}}</li>
                높이 :
                <li>{{data.number}}</li>
                이전해쉬 :
                <li>{{data.parentHash}}</li>
                머클루트 :
                <li>{{data.stateRoot}}</li>
                해쉬 :
                <li>{{data.hash}}</li>
                시간 :
                <li>{{data.timestamp}}</li>
                논스 :
                <li>{{data.nonce}}</li>
                난이도 :
                <li>{{data.difficulty}}</li>
            </ul>
        </div>
    </body>
</html>
